body{
  background-color: #364444;
}

  .grid-container {
    background-color: #364444;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr; /* gjør at alle gridene er like lange */
  }

  .grid-item {
    background-color: azure;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Alt over er stilen på griden og hvor stor et bilde er i en grid */

  .item1 {
    grid-column: 1/ span 3;
    grid-row: 1;
    height: 20px;
  }
 
  .item3 {
    height: 20px;
    grid-column: 1/ span 3;
    grid-row: 2;
    text-align: left;
    background-color: rgb(102, 102, 160);
  }

  .item4 {
    grid-column: 1/ span 2;
    grid-row: 5;
  }

  .item5 {
    height: 20px;
    grid-column: 1 / span 3;
    grid-row: 4;
    background-color: rgb(102, 102, 160);
  }

.item7 {
  grid-column: 3/ span 1;
  grid-row: 5;
  padding: 0px;
}

.item8 {
  grid-column: 1/ span 3;
  grid-row: 3;
}

.item9 {
  height: 20px;
  grid-column: 1 / span 3;
  grid-row: 6;
  background-color: rgb(102, 102, 160);
}

.item10 {
  grid-column: 1/ span 2;
  grid-row: 7;
}

.item11 {
  grid-column: 3/ span 1;
  grid-row: 7;
  padding: 0px;
}

.item12 {
  height: 20px;
  grid-column: 1 / span 3;
  grid-row: 8;
  background-color: rgb(102, 102, 160);
}

.item13 {
  grid-column: 1/ span 2;
  grid-row: 9;
}

.item14 {
  grid-column: 3/ span 1;
  grid-row: 9;
  padding: 0px;
}

.item15 {
  height: 20px;
  grid-column: 1 / span 3;
  grid-row: 10;
  background-color: rgb(102, 102, 160);
}

.item16 {
  grid-column: 1/ span 2;
  grid-row: 11;
}

.item17 {
  grid-column: 3/ span 1;
  grid-row: 11;
  padding: 0px;
}

.item18 {
  height: 20px;
  grid-column: 1 / span 3;
  grid-row: 12;
  background-color: rgb(102, 102, 160);
}

.item19 {
  grid-column: 1/ span 2;
  grid-row: 13;
}

.item20 {
  grid-column: 3/ span 1;
  grid-row: 13;
  padding: 0px;
}

.item21 {
  height: 20px;
  grid-column: 1 / span 3;
  grid-row: 14;
  background-color: rgb(102, 102, 160);
}

.item22 {
  grid-column: 1/ span 2;
  grid-row: 15;
}

.item23 {
  grid-column: 3/ span 1;
  grid-row: 15;
  padding: 0px;
}

.item24 {
  height: 20px;
  grid-column: 1 / span 3;
  grid-row: 16;
  background-color: rgb(102, 102, 160);
}

.item25 {
  grid-column: 1/ span 2;
  grid-row: 17;
}

.item26 {
  grid-column: 3/ span 1;
  grid-row: 17;
  padding: 0px;
}


/* Items er selve rutene og her endrer jeg på dems lengde, plassering på siden og fargene/hvordan de ser ut. I tilleg er det også mellomrom mellom rutene og hvordan mellomromene ser ut.*/

 
  a {
    font-size: 16px;
    background-color: none;
  }

  a2 {
    font-size: 30px;
    background-color: none;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }

  p3 {
    font-size: 20px;

  }

/*a, a2, p og p3 er tekst og dens stil */

  .myButton {
    border: none;
    background-color: rgb(102, 102, 160);;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .myButton:hover {
    background-color: black;
    font-size: 20px;
  }

  a:hover {
    color: rgb(131, 131, 131);
    font-size: 20;
  }

/* My button er det svarte område som kommer opp når musen er over en lenke */