body{
    background-color: #364444;
  }
  
    .grid-container {
      background-color: #364444;
      display: grid;
      gap: 5px;
      padding: 5px;
      grid-template-columns: 1fr 1fr 1fr; /* gjør at alle gridene er like lange */
    }
  
    .grid-item {
      background-color: azure;
      text-align: center;
      padding: 20px;
      font-size: 30px;
    }
  
    .grid-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .myButton {
    border: none;
    background-color: rgb(102, 102, 160);;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .myButton:hover {
    background-color: black;
    font-size: 20px;
  }

  a:hover {
    color: rgb(255, 255, 255);
    font-size: 20;
  }