.grid-container {
    background-color: #364444;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-item {
    background-color: azure;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .item1 {
    grid-column: 1/ span 3;
    grid-row: 1;
    height: 20px;
  }
 
  .item3 {
    height: 20px;
    grid-column: 1/ span 3;
    grid-row: 2;
    text-align: left;
    background-color: rgb(102, 102, 160);
  }

  .item4 {
    grid-column: 1/ span 2;
    grid-row: 3;
  }

  .item5 {
    height: 20px;
    grid-column: 1 / span 3;
    grid-row: 4;
    background-color: rgb(102, 102, 160);
  }

.item7 {
  grid-column: 3/ span 1;
  grid-row: 3;
  padding: 0px;
}
  

  #rcorners1 {
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 50px; 
  }

  #rcorners2 {
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 100px; 
  }

  a {
    font-size: 16px;
    background-color: none;
  }

  a2 {
    font-size: 30px;
    background-color: none;
    font-weight: bold;
  }


  #rcorners3 {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 50px; 
  }

  p {
    font-size: 20px;
  }

  .myButton {
    border: none;
    background-color: rgb(102, 102, 160);;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .myButton:hover {
    background-color: black;
    font-size: 10px;
  }

  a:hover {
    color: rgb(131, 131, 131);
  }

  p3 {
    font-size: 20px;

  }