body{
  background-color: #364444;
}

  .grid-container {
    background-color: #364444;
    display: grid;
    gap: 2px;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr; /* gjør at alle gridene er like lange */
  }

  .grid-item {
    background-color: azure;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myButton {
  border: none;
  background-color: rgb(102, 102, 160);;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.myButton:hover {
  background-color: black;
  font-size: 22px;
}

a:hover {
  color: rgb(255, 255, 255);
  font-size: 20;
}

/* My button er det svarte område som kommer opp når musen er over en lenke */
 
  p {
    font-size: 20px;
  }

  a {
    color: rgb(255, 221, 161);;
  }

  .item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .item1a{
    grid-column: 1/ span 3;
    grid-row: 2;
    background-color: rgb(102, 102, 160);
    text-align: left;
  }

  .item2 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .item3 {
    grid-column: 3 / span 1;
    grid-row: 3;
    padding: 0px;
  }

  .item4 {
    grid-column: 1 / span 3;
    grid-row: 4;
    background-color: rgb(102, 102, 160);
  }

  .item5 {
    grid-column: 1 / span 3;
    grid-row: 5;
  }

  .item6 {
    grid-column: 1 / span 3;
    grid-row: 6;
    background-color: rgb(102, 102, 160);
  }

  .item7 {
    grid-column: 1 / span 3;
    grid-row: 7;
  }

  .item8 {
    grid-column: 1 / span 1;
    grid-row: 8;
  }

  .item9 {
    grid-column: 2 / span 3;
    grid-row: 8;
  }

  .item10 {
    grid-column: 1 / span 1;
    grid-row: 9;
  }

  .item11 {
    grid-column: 2 / span 3;
    grid-row: 9;
  }

  .item12 {
    grid-column: 1 / span 1;
    grid-row: 10;
  }

  .item13 {
    grid-column: 2 / span 3;
    grid-row: 10;
  }

  .item14 {
    grid-column: 1 / span 1;
    grid-row: 11;
  }

  .item15 {
    grid-column: 2 / span 3;
    grid-row: 11;
  }

  .item16 {
    grid-column: 1 / span 1;
    grid-row: 12;
  }

  .item17 {
    grid-column: 2 / span 3;
    grid-row: 12;
  }

  .item18 {
    grid-column: 1 / span 1;
    grid-row: 13;
  }

  .item19 {
    grid-column: 2 / span 3;
    grid-row: 13;
  }