body{
    background-color: #364444;
  }
  
  .grid-container {
      background-color: #364444;
      display: grid;
      gap: 5px;
      padding: 5px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .grid-item {
      background-color: azure;
      text-align: center;
      padding: 20px;
      font-size: 30px;
    }
  
    .grid-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  a {
    font-size: 16px;
    background-color: none;
  }

  a2 {
    font-size: 30px;
    background-color: none;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }

  .myButton {
    border: none;
    background-color: rgb(102, 102, 160);;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .myButton:hover {
    background-color: black;
    font-size: 10px;
  }

  a:hover {
    color: rgb(131, 131, 131);
  }

  p3 {
    font-size: 20px;
  }