.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
  }

  .grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .item1 {
    grid-column: 1/ span 1;
    grid-row: 1;
  }
 
  .item2 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .item3 {
    grid-column: 2/ span 2;
    grid-row: 1;
  }

  #rcorners1 {
    border-radius: 25px;
    background: #86d3b3;
    padding: 20px;
    width: 400px;
    height: 50px; 
  }

  #rcorners2 {
    border-radius: 25px;
    background: #86d3b3;
    padding: 20px;
    width: 400px;
    height: 100px; 
  }

  p1 {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

body {
    background-image: url(float.png);
}

  #rcorners3 {
    border-radius: 25px;
    background: #86d3b3;
    padding: 20px;
    width: 200px;
    height: 50px; 
  }
  .myButton {
    background-color: #86d3b3;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }


  .myButton:hover {
    background-color: aqua;
    font-size: larger;
  }
